* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* main colors */
  --red: #E3646E;
  --puple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  /* base colors */
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  /* font family Asap */
  --font-asap: "Asap", serif;
  --title-lg: 600 56px/120% var(--font-asap);
  --title-md: 600 24px/120% var(--font-asap);
  --title-sm: 600 16px/120% var(--font-asap);

  /* font family inconsolata */
  --font-inconsolata: "Inconsolata", serif;
  --subtitle: 400 20px/120% var(--font-inconsolata);

  /* font family maven pro */
  --font-maven: "Maven Pro", serif;
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);
}

.container {
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 24px;
}

/* caixa para as tags da intro  */
.content-tag {
  display: inline-block; /* quebra as funções de div ou span, ela deve apresentar os dois comportamentos*/
  background-color: var(--gray-300);
  /* padding: 8px 16px; */
  border-radius: 999px;
  font: var(--text-md);
  color: var(--gray-500);
}

