header {
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-color: var(--gray-200);
  height: 750px;
  #avatar {
    padding-top: 120px;
    justify-content: center;
    display: flex;
  }

  h2 {
    font: var(--subtitle);
    color: var(--gray-500);
    margin-top: 56px;
    justify-content: center;
    display: flex;
  }

  span {
    margin-right: 10px;
    margin-left: 10px;

  }

  h1 {
    font: var(--title-lg);
    color: var(--gray-600);
    margin-top: 8px;
    display: flex;
    justify-content: center;
  }


  #discribe {
    font: var(--text-sm);
    color: var(--gray-400);
    padding-top: 20px;
    max-width: 680px;
    text-align: center;
    margin: auto;
  }
}

.red-color{
  color: var(--red);
}

nav {
  /* para estilizar as tags da intro */
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  
  /* para estilizar os conteúdos dentro das tags da intro */
  #tag-intro {
    display: inline-flex; 
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
  }
}

/* para alterar as cores do dos icones das tags da intro */
.gethubintro path {
  fill: var(--gray-500);
}

.htmlintro path {
  fill: var(--red);
}

.cssintro path {
  fill: var(--blue);
}

.jsintro path {
  fill: var(--yellow);
}

.reactintro path {
  fill: var(--blue);
}

.nodeintro path {
  fill: var(--green);
}

/* para estilizar as duas cetas apontando para baixo */
#double-arrows {
  display: flex;
  justify-content: center;
  padding-top: 105px;
}