#work {
  background-color: var(--gray-200);

  h2 {
    font: var(--subtitle);
    color: var(--red);
    padding-top: 72px;
    text-align: center;
  }

  h3 {
    font: var(--title-md);
    color: var(--gray-600);
    text-align: center;
    padding-top: 8px;
  }

  h4 {
    font: var(--title-sm);
    color: var(--gray-600);
    padding-block: 24px 8px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
  }
}

#projects {
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding-bottom: 144px;


  img {
    width: 306px;
    border-radius: 12px;
  }
}

#my-services {
  background-color: var(--gray-100);
}

#services-title {

  h2 {
    font: var(--subtitle);
    color: var(--red);
    text-align: center;
    padding-top: 88px;
  }

  h3 {
    font: var(--title-md);
    color: var(--gray-600);
    text-align: center;
    padding-top: 8px;
  }
}

#services {
  gap: 24px;
  padding-bottom: 120px;

  h2 {
    font: var(--title-sm);
    color: var(--gray-600);
    padding-block: 20px 8px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
  }
}