#work {
  background-color: var(--gray-200);

  h2 {
    color: var(--red);
    padding-top: 72px;
    text-align: center;
  }

  h3 {
    color: var(--gray-600);
    text-align: center;
    padding-top: 8px;
  }

  h4 {
    color: var(--gray-600);
    padding-block: 24px 8px;
  }

  p {
    color: var(--gray-500);
  }
}

#projects {
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding-bottom: 144px;


  img {
    width: 306px;
    border-radius: 12px;
  }
}

#my-services {
  background-color: var(--gray-100);
}

#services-title {

  h2 {
    color: var(--red);
    text-align: center;
    padding-top: 88px;
  }

  h3 {
    color: var(--gray-600);
    text-align: center;
    padding-top: 8px;
  }
}

#services {
  gap: 24px;
  padding-bottom: 120px;

  h2 {
    color: var(--gray-600);
    padding-block: 20px 8px;
  }

  p {
    color: var(--gray-500);
  }
}

#contact {
  background-image: url(../assets/images/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  height: 787px; 
}

#contact-title {
  h2 {
    color: var(--purple);
    text-align: center;
    padding-top: 128px;
  }

  h3 {
    color: var(--gray-600);
    text-align: center;
    padding-block: 8px;
  }

  h4 {
    color: var(--gray-500);
    text-align: center;
    /* padding-bottom: 48px; */
  }
}

#social-media {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-block: 48px 200px;

  div {
    display: flex;
    align-items: center;

    span {
      color: var(--gray-500);
      display: inline-flex;
      align-items: center;
      gap: 12px;
    }

    div:nth-child(2) { 
      margin-left: auto; /* para deixar a seta no canto esquerdo do card */
  }

  }

}